@import "../utils/variables.scss";

html {
  height: 100%;
  body {
    height: 100%;
    background-color: $light-color!important;
    #__next {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

