@import "../utils/variables.scss";

html {
  height: 100%;
  body {
    padding-top: $header-height;
    height: 100%;
    background-color: $light-color!important;
    #__next {
      height: 100%;
    }
  }
}

