@import '../../utils/variables';

.bh-menu {
  background-color: $dark-color;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  .bh-menu-item {
    display: flex;
    width: 100%;
    padding: 15px;
    color: $dark-text-color;
    font-weight: bold;
    &:hover {
      color: $yellow-color;
      background-color: $dark-hover-color;
      border-right: 5px solid $yellow-color;
      cursor: pointer;
    }
  }
}